# **variable deceleration** <br>
Variable_name = value

example:
```
a = '3'
b = 3
c = 3.0
```

# **Basic Data Type**
str (string)
int (i)

In [ ]:
a = '3'
b = 3
c = 3.0
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [1]:
b = 5
print(b, b * 4)
a = 'mmd'
print(a, a * 4)

5 20
mmd mmdmmdmmdmmd

In [ ]:
c = 3.6
print(c, int(c))

3.6 3