# **For Loop**
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
This  is  less  like  the  for  keyword  in  other  programming  languages,  and  works  more  like  an  iterator method as found in other object-orientated programming languages.
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

**Syntax**
```
for x in my_list:
  # Code
```
**Example**
```
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
```

In [2]:
mylist = [3.14, 2, "mmd", 'Ali', True]
for x in mylist:
  print(x, end=' ')

3.14 2 mmd Ali True

## **range Function**
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

**Syntax**
```
range(start, end, step)
```

In [7]:
for i in range(1, 11):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [8]:
for i in range(2, 21, 2):
  print(i, end=' ')

2 4 6 8 10 12 14 16 18 20

In [9]:
numbers = [14, 15, 13, 16, 15.75, 18.25, 20, 20]

sum_val = 0
for i in numbers:
  sum_val += i

print('sum:', sum_val)
print('average:', sum_val / len(numbers))

sum: 132.0
average: 16.5

In [10]:
sum_val = 0
for i in range(len(numbers)):
  sum_val += numbers[i]

print('sum:', sum_val)
print('average:', sum_val / len(numbers))

sum: 132.0
average: 16.5